---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title="How to Open Source">
	<article class="p-10 prose prose-invert prose-xl max-w-4xl">
		<h1>How to Open Source</h1>

		<div class="flex flex-col space-y-2">
			<a href='/etiquette' class='text-4xl'>Open Source Etiquette →</a>

			<p>
				A practical guide on how to collaborate with open source projects and not come up like a douchebag.
			</p>
		</div>

		<p>
			Work in progress. Have ideas? <a href="https://twitter.com/kossnocorp">Send them my way</a>.
		</p>
	</article>
</BaseLayout>